<%= form_for([@place,@food]) do |f| %>
  <% if @food.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@food.errors.count, "error") %> prohibited this food from being saved:</h2>

      <ul>
      <% @food.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :entree %>
    <%= f.text_field :entree %><br><br>
  </div>
  <div class="field">
    <%= f.label :sides %>
    <%= f.text_field :sides %><br><br>
  </div>
  <div class="field">
    <%= f.label :daytime %>
    <%= f.select(:daytime, [["Breakfast", 0], ["Lunch",1], ["Dinner", 2]]) %>
  </div>
  <div class="field">
    <ul style="list-style: none;">
    <% @days.each do |day| %>
      <li><%= f.label day %>
      <%= check_box 'day',:days, {:multiple => true}, checked_value = day , unchecked_value= 0 %></li>
    <% end %><br><br>
  </ul>
  </div>
  <div class ="field">
    <%= f.label "Price" %>
    <%= f.text_field :price %><br><br>
  </div>

  <div class="actions">
    <%= f.submit "Add Food" %>
  </div>
<% end %><br><br>
