<%= form_for([@place,@food]) do |f| %>
  <% if @food.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@food.errors.count, "error") %> prohibited this food from being saved:</h2>

      <ul>
      <% @food.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :entree %><br />
    <%= f.text_field :entree %>
  </div>
  <div class="field">
    <%= f.label :sides %><br />
    <%= f.text_field :sides %>
  </div>
  <div class="field">
    <%= f.label :daytime %><br />
    <%= f.number_field :daytime %>
  </div>
  <div class="field">
    <%= f.label :days %><br />
    <%= f.text_area :days %>
  </div>
  <div class="field">
    <%= f.label :place_id %><br />
    <%= f.number_field :place_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
