<p id="notice"><%= notice %></p>

<p>
  <b>Entree:</b>
  <%= @food.entree %>
</p>

<p>
  <b>Sides:</b>
  <%= @food.sides %>
</p>

<p>
  <b>Daytime:</b>
  <%= @time[@food.daytime] %>
</p>

<p>
  <b>Days:</b>
  <% @food.days.each do |day| %>
    <%= day %>
  <% end %>  
</p>

<p>
  <b>Price:</b>
  <%= @food.price %>
</p>

<p>
  <b>Place:</b>
  <%= link_to @place.name, place_path(@place.id) %>
</p>


<%= link_to 'Edit', edit_place_food_path(@food) %> |
<%= link_to 'Back', place_foods_path %>
