<p id="notice"><%= notice %></p>

<p>
  <b>Brewery:</b>
  <%= @beer.brewery %>
</p>

<p>
  <b>Name:</b>
  <%= @beer.name %>
</p>

<p>
  <b>Desc:</b>
  <%= @beer.desc %>
</p>

<p>
  <b>Places:</b>
  <% @places.each do |place| %>
    <%= link_to place.name, place_path(place.id) %>
  <% end %>
</p>

<%= image_tag @beer.photo_ref %>
