<p id="notice"><%= notice %></p>

<p>
  <b>Brewery:</b>
  <%= @beer.brewery %>
</p>

<p>
  <b>Name:</b>
  <%= @beer.name %>
</p>

<p>
  <b>Desc:</b>
  <%= @beer.desc %>
</p>

<p>
  <b>Place:</b>
  <%= Place.find(@beer.place_id).name %>
</p>


<%= link_to 'Edit', edit_place_beer_path(@beer) %> |
<%= link_to 'Back', place_beers_path %>
