<p id="notice"><%= notice %></p>
<%= image_tag @beer.photo_ref %>
<p>
  <b>Brewery:</b>
  <%= @beer.brewery %>
</p>

<p>
  <b>Name:</b>
  <%= @beer.name %>
</p>

<p>
  <b>Description:</b>
  <%= @beer.desc %><br>
  ABV: <%= @beer.abv || "Not Available"%> IBU: <%=@beer.ibu || "Not Available"%>
</p>

<p>
  <b>Places:</b>
  <% @places.each do |place| %>
    <%= link_to place.name, place_path(place.id) %>
  <% end %>
</p>
