<h1>Hoppy Hour Locations</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Address</th>
    <th>City</th>


    <th>Rating</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @places.each do |place| %>
  <tr>
    <td><%= link_to place.name, place_path(place.id) %></td>
    <td><%= place.address %></td>
    <td><%= place.city %></td>


    <td><center><%= place.rating %></center></td>
    <% if admin? %>
      <td><%= link_to 'Edit', edit_place_path(place) %></td>
      <td><%= link_to 'Destroy', place, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% end %>
</tr>
<% end %>
</table>

<br />

<%= link_to 'New Place', new_place_path %>
