<h2>Search Google:</h2>
<%= form_tag places_results_path do %>
  <%= text_field_tag :query  %>
  <%= submit_tag "Search" %><br><br>
<% end %>

<%= render 'form' %>

<%= link_to 'Back', places_path %>
