
<p id="notice"><%= notice %></p>

<div id= "details">
  <p>
    <h1><%= @place.name %><br></h1>
    <% if !@place.lat.blank? && !@place.lon.blank? %>
      Latitude: <%= @place.lat %>, Longitude: <%= @place.lon %><br>
    <%end%>
    <%= @place.address %>, <%= @place.city %>, <%= @place.state %>
  </p>
</div>

<div id= "rating">
  <p>
    <b>Rating:</b>
    <%= @place.rating %>
  </p>
</div>

<div id ="add_beer">
  <% if session[:brewdb_id] %>
      <%=link_to "Add #{session[:beer_name]} to #{@place.name}?", add_beer_path(place_id: @place.id,brew_id: session["brewdb_id"]), {:method => :post, :action => :create} %>
  <% end %>
</div>

<div id="place_beers">
    <h3>Beer List</h3>
  <ul>
  <% @beers.each do |beer| %>
    <li><h3><%= link_to beer.name, show_beer_path(beer.id), :class => "fancybox", :rel => "beer", :title => beer.name %><%= link_to "No Longer Here", destroy_beer_path(@place.id, beer.id)%></h3>
    <h5 class="beer_desc"><%= beer.desc %></h5></li>
  <% end %>
  </ul>
</div>

<div id="place_foods">
  <h3>Food Specials</h3>
    <% @foods.each do |food| %>
      <ul>
      <li><%= food.entree %>, <%if food.price  %>$ <%= sprintf('%02.2f', food.price) %><%end%> </li>
      <li><%= food.sides %></li>
        <li><% food.days.each do |day| %>
          <%= day %>
          <% end %>
        </li></ul>
    <% end %>

</div>
<%= link_to 'Add A Food Offering', new_place_food_path(@place.id) %><br>
<% if admin? %>
  <%= link_to 'Edit', edit_place_path(@place) %>
<% end %>
<%= link_to 'Back To HoppyHour Directory', places_path %>
