<p id="notice"><%= notice %></p>

<div id= "details">
  <p>
    <%= @place.name %><br>
    <%= @place.address %>, <%= @place.city %>, <%= @place.state %>
  </p>
</div>

<div id= "rating">
  <p>
    <b>Rating:</b>
    <%= @place.rating %>
  </p>
</div>

<div id ="add_beer">
  <% if session[:brewdb_id] %>
      <%=link_to "Add #{session[:beer_name]} to #{@place.name}?", add_beer_path(place_id: @place.id,brew_id: session["brewdb_id"]), {:method => :post, :action => :create} %>
  <% end %>
</div>

<div id="place_beers">
    <h3>Beer List</h3>
  <ul>
  <% @beers.each do |beer| %>
    <li><h3><%= link_to beer.name, show_beer_path(beer.id) %></h3>
    <h5><%= beer.desc %></h5></li>
  <% end %>
  </ul>
</div>

<div id="place_foods">
  <h3>Food Specials</h3>
  <ul>
    <% @foods.each do |food| %>
      <li><%= food.entree %>, $<%= food.price %> </li>
        <li><%= food.sides %></li>
        <% food.days.each do |day| %>
          <%= day %>,
        <% end %>
      <% end %>
  </ul>
</div>


<%= link_to 'Edit', edit_place_path(@place) %> |
<%= link_to 'Back', places_path %>
