<!DOCTYPE html>
<div id= "pagewrap">
<html>
<head class="clear">
  <title>Hoppy Hour</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <div id ="head_container">
  <div id="head_image">
    <%= image_tag "hoppy160.png" %>
  </div>

  <div id="top_logo_text">
    <%= image_tag ("hoppytext.png")%>
  </div>

  <div id="search_block" class ="cf">


  </div>
</div>
</head>

<body class = "clear">
  <div id= "sidebar">
    <ul>
      <li><h3><%=link_to("LOCATIONS", places_path)%></h3></li>
      <li><h3><%=link_to("FOOD SPECIALS", foods_index_path) %></h3></li>
      <li><h3><%=link_to("BEER LIST", beers_index_path) %></h3></li>
      <%= form_tag(beers_results_path(:method=>'post')) do %>
        <li><%= text_field_tag "brewdb_query", "Beer Search" %></h3></li>
        <li><%= submit_tag 'Search' %></h3></li>
      <% end %>
      <%= form_tag places_results_path do %>
        <%= text_field_tag :query, "Place Search" %><br>
        <%= submit_tag "Search" %><br>
      <% end %>
      <% if current_user %>
        <li><h3><%= link_to "Log-Out", logout_path %></h3></li>
      <% else %>
        <li><h3><%= link_to "Log-In", login_path %></h3></li>
        <li><h3><%= link_to "Sign-Up", signup_path %></h3></li>

      <% end %>
    </ul>
  </div>
  <div id= "content">
    <%= yield %>
  </div>
</body>
<footer class="clear">

  <div id="ocs_logo">
    <%= image_tag "OCSlogo.png" %>
  </div>

  <div id="creator">
    <h1><a href = "http://johnathon101.github.io/">Johnathon Lueth</a></h1>
  </div>

  <div id="social_media">

  </div>

</footer>
</div>
</html>
