<!DOCTYPE html>
<div id= "pagewrap">
<html>
<head class="clear">

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-50928806-1', 'hoppyhour.herokuapp.com');
    ga('send', 'pageview');

  </script>

  <title>Hoppy Hour</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <div id ="head_container">
  <div id="head_image">
    <%= image_tag "hoppy160.png" %>
  </div>

  <div id="top_logo_text">
    <%= image_tag ("hoppytext.png")%>
  </div>

</div>
</head>

<body class = "clear">
  
  <div id= "sidebar">
    <%= image_tag('full.png', class: "full-menu glass") %>
    <%= image_tag('empty.png', class: "empty-menu glass") %>
    <ul>
      <li><%=link_to("LOCATIONS", places_path)%></h3></li>
      <li><%=link_to("FOOD SPECIALS", foods_index_path) %></h3></li>
      <li><%=link_to("BEER LIST", beers_index_path) %></h3></li>
      <%= form_tag(beers_results_path(:method=>'post')) do %>
        <li><%= text_field_tag "brewdb_query", nil, :placeholder=> "Beer Search" %></li>
        <li><%= submit_tag 'Search' %></li>
      <% end %>
      <%= form_tag places_results_path do %>
        <%= text_field_tag :query, nil, :placeholder => "Place Search" %></li>
        <li><%= submit_tag "Search" %></li>
      <% end %>
      <% if current_user %>
        <li><%= link_to "Log-Out", logout_path %></li>
      <% else %>
        <li><%= link_to "Log-In", login_path %></li>
        <li><%= link_to "Sign-Up", signup_path %></li>

      <% end %>
    </ul>
  </div>
  <div id= "content">
    <% if flash[:alert] %>
      <p class="flash-error">
        <%= flash[:alert] %>
      </p>
    <% end %>

    <% if flash[:notice] %>
      <p class="flash-notice">
        <%= flash[:notice] %>
      </p>
    <% end %>
    <%= yield %>
  </div>

</body>
<footer class="clear">

  <div id="ocs_logo">
    <%= image_tag "OCSlogo.png" %>
  </div>

  <div id="creator">
    <h1><a href = "http://johnathon101.github.io/">Johnathon Lueth</a></h1>
  </div>

  <div id="social_media">

  </div>

</footer>
</div>
</html>
